#include <windows.h>
#include "resource.h"

IDD_MAINDIALOG DIALOGEX 0, 0, 250, 260
STYLE DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MOVEit File Upload"
FONT 9, "Segoe UI"
BEGIN
LTEXT       "Host:", -1, 10, 10, 60, 10
EDITTEXT    IDC_HOST, 80, 10, 150, 12, ES_AUTOHSCROLL

LTEXT       "Username:", -1, 10, 30, 60, 10
EDITTEXT    IDC_USERNAME, 80, 30, 150, 12, ES_AUTOHSCROLL

LTEXT       "Password:", -1, 10, 50, 60, 10
EDITTEXT    IDC_PASSWORD, 80, 50, 150, 12, ES_PASSWORD

LTEXT       "File:", -1, 10, 70, 60, 10
EDITTEXT    IDC_FILEPATH, 80, 70, 100, 12, ES_AUTOHSCROLL
PUSHBUTTON  "Browse...", IDC_CHOOSEFILE, 185, 68, 50, 14

PUSHBUTTON  "Upload", IDC_UPLOAD, 80, 100, 60, 16
DEFPUSHBUTTON "Cancel", IDCANCEL, 150, 100, 60, 16

CONTROL "", IDC_LOGVIEW, "EDIT",
WS_CHILD | WS_VISIBLE | WS_VSCROLL | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY,
10, 160, 360, 120
END
