#include <windows.h>
#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 250, 180
STYLE DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MOVEit File Upload"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT       "Host:", -1, 10, 10, 40, 10
EDITTEXT    IDC_EDIT_HOST, 60, 10, 170, 14, ES_AUTOHSCROLL

LTEXT       "Username:", -1, 10, 35, 40, 10
EDITTEXT    IDC_EDIT_USER, 60, 35, 170, 14, ES_AUTOHSCROLL

LTEXT       "Password:", -1, 10, 60, 40, 10
EDITTEXT    IDC_EDIT_PASS, 60, 60, 170, 14, ES_PASSWORD | ES_AUTOHSCROLL

LTEXT       "File:", -1, 10, 85, 40, 10
EDITTEXT    IDC_EDIT_FILE, 60, 85, 130, 14, ES_AUTOHSCROLL
PUSHBUTTON  "Browse...", IDC_BUTTON_BROWSE, 195, 85, 35, 14

PUSHBUTTON  "Upload", IDC_BUTTON_UPLOAD, 60, 120, 60, 16
PUSHBUTTON  "Cancel", IDCANCEL, 130, 120, 60, 16
END
